<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.Mapper.ObjectMapper">

    <!-- Result map to map result set to User object -->
    <resultMap id="BaseResultMap" type="org.example.entity.Object">
        <id column="id" property="id"/>
        <result column="objectName" property="objectName"/>
        <result column="major" property="major"/>
    </resultMap>
    <insert id="createCourse" parameterType="String">
        INSERT INTO "dm8"."object" ("object_name", "major")
        VALUES (#{name}, #{major})
    </insert>

    <insert id="addStudent" parameterType="int">
        INSERT INTO "dm8"."student_object" VALUES (#{userId},#{objectId});
    </insert>

    <select id="queryByObject" resultType="org.example.entity.Object">
        SELECT * FROM "dm8"."object" WHERE "object_name" = #{courseName}
    </select>

    <select id="queryByObjectId" resultType="org.example.entity.Object">
        SELECT * FROM "dm8"."object" WHERE "id" = #{courseId}
    </select>


</mapper>