<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.Mapper.TeacherMapper">
    <insert id="addTeacher" parameterType="int">
        insert into "dm8"."teacher" values ('${userId}', NULL)
    </insert>
    <delete id="delByUserId" parameterType="int">
        DELETE  FROM "dm8"."teacher"
        WHERE  "user_id" = '${userId}'
    </delete>

    <select id="queryTeacherByUserId" resultType="org.example.entity.Teacher">
        SELECT * FROM "dm8"."teacher" WHERE "user_id" = #{id}
    </select>

    <select id="queryTeacherByTeacherId" resultType="org.example.entity.Teacher">
        SELECT * FROM "dm8"."teacher" WHERE "teacher_id" = #{createTeacher}
    </select>

    <select id="queryTeachersByUserId" resultType="org.example.entity.Teacher">
        SELECT * FROM "dm8"."teacher" WHERE "user_id" = #{id}
    </select>
</mapper>